Repository tojeiro-me/Plasttic-reset: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.js": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.jsx": ["prettier --write", "eslint"],
  "*.mdx": ["prettier --write", "eslint"],
  "*.md": "prettier --write",
  "*.html": ["prettier --write"],
  "*.css": "stylelint --write",
  "*.json": "prettier --write"
}

v2.0.6: config update
  .lintstagedrc.json
Due: prettier --write

v2.0.6: config
  .lintstagedrc.json
Due: prettier --write

v2.0.6: prettier ignore start
  .prettierignore
Due: none

v2.0.6: update
  .husky/pre-commit
Due: none

v2.0.6: husky hooks
  .husky/pre-commit
  dist/reset.min.css
  package.json
Due: prettier --write, stylelint --write

v2.0.6: husky config
  .husky/pre-commit
  package.json
Due: prettier --write

v2.0.6: dist
  dist/reset.min.css
Due: stylelint --write

v2.0.6: ignoreFiles
  .stylelintrc.json
Due: prettier --write

v2.0.6: files update
  package.json
Due: prettier --write

v2.0.6: update
  package.json
Due: prettier --write

v2.0.6: update
  .prettierignore
Due: none

v2.0.6: publish action
  .github/workflows/plasttic-publish.yml
Due: none

v2.0.6: lint-staged update
  .lintstagedrc.json
Due: prettier --write

v2.0.6: removed stylelint
  .stylelintrc.json
  CHANGELOG.md
Due: prettier --write

v2.0.6: version update
  CHANGELOG.md
Due: prettier --write

v2.0.7: removed stylelint
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

v2.0.7: updated config
  .lintstagedrc.json
Due: prettier --write

v2.0.7: version update
  CHANGELOG.md
  dist/reset.min.css
  package.json
  src/reset.css
Due: prettier --write, stylelint --write

v2.0.8: prettier config
  .gitignore
  .vscode/.prettierrc
  CHANGELOG.md
Due: prettier --write

v2.0.8: version update
  dist/reset.min.css
  package.json
  src/reset.css
Due: prettier --write, stylelint --write

v2.0.8: version update
  CHANGELOG.md
Due: prettier --write

v2.0.8: update
  .gitignore
Due: none

v2.0.8: version strategy update
  .github/workflows/plasttic-publish.yml
Due: none

v2.0.9: update
  .lintstagedrc.json
Due: prettier --write

v2.0.9: version update
  CHANGELOG.md
  package.json
Due: prettier --write

v2.0.9: version update
  src/reset.css
Due: stylelint --write

v2.0.9: version update
  dist/reset.min.css
Due: stylelint --write

v2.0.9: version update
  .husky/pre-commit
  dist/reset.min.css
  src/reset.css
Due: stylelint --write

v2.0.9: version update
  CHANGELOG.md
  dist/reset.min.css
  src/reset.css
Due: prettier --write, stylelint --write

v2.0.9: banner update
  .github/assets/repo-banner-1400w-reset.png
Due: none

v2.0.9: updated start
  README.md
Due: prettier --write

v2.0.10: version update
  CHANGELOG.md
  dist/reset.min.css
  package.json
  src/reset.css
Due: prettier --write, stylelint --write

v2.0.10: update lint dist names + husky
  .husky/pre-commit
  CHANGELOG.md
  package.json
Due: prettier --write

v2.0.10: update
  README.md
Due: prettier --write

v2.0.10: minor update
  dist/reset.min.css
  src/reset.css
Due: stylelint --write

v2.0.10: update
  CHANGELOG.md
  README.md
Due: prettier --write

v2.1.0: version update
  CHANGELOG.md
  README.md
  dist/reset.min.css
  package.json
  src/reset.css
Due: prettier --write, stylelint --write

v2.1.0: minor update
  src/reset.css
Due: stylelint --write
